@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  justify-content: center;
  background: #ff8e00b5;
  border-radius: 5px;
  margin: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 500px;
}

.people-list-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}
.people-list-header {
  background-color: #202c59;
  width: calc(100% - 40px);
  text-align: center;
  font-weight: 500;
  color: white;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.people-list-switcher {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: #202c59;
  border-left: 5px solid #202c59;
  border-right: 5px solid #202c59;

  width: calc(100% - 40px);
  color: white;
}
.people-list-switcher > div {
  width: 100%;
  cursor: pointer;
  opacity: 0.5;
  border-radius: 3px;
}
.people-list-switcher .active {
  background-color: #ff8e00b5;
  font-weight: 500;
  opacity: 1;
}
.people-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  overflow: scroll;
  overscroll-behavior: contain;
  background-color: #202c59;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #f8f5e3;
  margin-bottom: 20px;
  width: calc(100% - 40px);
}

.search {
  position: relative;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202c59;
  border-radius: 10px;
  margin: 20px;
}
.search-container.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-result-container {
  background-color: #202c59;
  z-index: 1;
  position: absolute;
  width: calc(100% - 40px);
  min-height: 50px;
  margin-top: -20px;
  display: none;
  border: 2px white solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #f8f5e3;
  left: 50%;
  transform: translate(-50%, 0);
}

.search-result-container.visible {
  display: block;
}

.search-result {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.search-result svg {
  cursor: pointer;
}

.search-result .username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}
.fa-magnifying-glass {
  height: 20px;
  width: 20px;
  cursor: pointer;
  padding: 10px 10px 10px 0;
  color: #f8f5e3;
}

.search-container input {
  border: none;
  border-radius: 20px;
  padding: 1rem;
  color: #f8f5e3;
  background-color: transparent;
  width: 100%;
  font-size: 0.9rem;
}

.people-list-container .fa-search {
  position: relative;
  left: -25px;
}

.people-list-container ul {
  padding: 20px;
  list-style: none;
}

.container .default-message {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  padding: 0 20px;
  background-color: #202c59;
  color: white;
  height: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: #202c59;
  color: #f8f5e3;

  align-items: stretch;
  height: 500px;
}

.chat-container .chat-header {
  padding: 10px 20px;
  width: 100%;
  border-bottom: 2px solid #ff8e00b5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #0d1a49;
}

.chat-header .profile-picture svg {
  height: 50px;
  width: 50px;
  color: #f8f5e3;
}
.chat-container .chat-header .chat-about {
  padding-left: 10px;
  margin-top: 6px;
}

.chat-container .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}

.chat-container .chat-header .chat-num-messages {
  color: #92959e;
}

.chat-container .chat-history {
  padding: 0 30px;
  border-bottom: 2px solid #ff8e00b5;
  overflow-y: scroll;
  overscroll-behavior: contain;

  min-height: 200px;
  flex-grow: 1;
  width: 100%;
}
.chat-history > ul {
  list-style: none;
}

.message-container .message-meta-data {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}
.message-container.align-right .message-meta-data {
  flex-direction: row;
}
.message-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.message-container.align-right {
  align-items: flex-end;
}
.message-container .message-meta-data-time {
  color: #a8aab1;
}

.message-container .message {
  display: flex;
  flex-grow: 1;
  word-break: break-all;
  text-align: right;
  word-wrap: break-word;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 300px;
  position: relative;
}
.message-container.align-right .message {
  flex-direction: row-reverse;
}

.message-meta-data .fa-circle.self {
  color: #f0a202;
}
.message-meta-data .fa-circle.other {
  color: #882121;
}

.chat-container .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #882121;
  border-width: 10px;
  margin-left: -10px;
}

.chat-container .chat-history .other-message {
  background: #882121;
  color: black;
}

.chat-container .chat-history .self-message {
  background: #f0a202;
  color: black;
}

.chat-container .chat-history .self-message:after {
  border-bottom-color: #f0a202;
  left: 93%;
}

.chat-container .chat-message {
  padding: 30px 30px 10px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d1a49;
}

.chat-container .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
  overflow-y: scroll;
  overscroll-behavior: contain;
  background-color: #202c59;
  color: #f8f5e3;
}

.chat-container .chat-message button {
  color: black;
  padding: 5px;
  border-radius: 3px;
  align-self: flex-end;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #f0a202;
  transition: transform 0.1s ease;
}

.chat-container .chat-message button:hover {
  transform: scale(1.1);
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #359f0b;
}

.offline {
  color: #f64200;
}

.me {
  color: #94c2ed;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
