.loading-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.loading-ring{
  width: 2rem;
  height: 2rem;
}
.loading-ring.main div {
  width: 3rem;
  height: 3rem;
}
