.profile-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  color: #202c59;
}

.profile-header > svg,
.profile-header > div {
  vertical-align: middle;
  position: relative;
  width: 20px;
  cursor: pointer;
  height: 20px;
  z-index: 2;
}
.profile-header > svg:hover ~ span,
.profile-header > div:hover ~ span {
  color: white;
}

.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 4px 4px 0;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.profile-dropdown.open {
  position: absolute;
  top: 130%;
  left: 0;
  right: 0;
  left: auto;
  width: 160px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 2px;
  background-color: #882121;
  border: 1px solid white;
  border-radius: 6px;
}
.profile-dropdown.open::after,
.profile-dropdown.open::before {
  position: absolute;
  display: inline-block;
  content: "";
  left: auto;
}
.profile-dropdown.open::before {
  top: -19px;
  right: 8px;
  border: 9px solid transparent;
  border-bottom-color: white;
}
.profile-dropdown.open::after {
  top: -16px;
  right: 9px;
  border: 8px solid transparent;
  border-bottom-color: #882121;
}
