form {
   padding: 2rem;
    background-color: rgba(255, 255, 255, 0.13);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    perspective: 1500px;
}


form * {
    color: #ffffff;
    outline: none;
    border: none;
}
label {
    align-self: flex-start;
    display: block;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 500;
}

input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 1rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 300;
}

::placeholder {
    color: #c5c4c4;
}
.button-container{
    margin: 30px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}
.front {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-container.register{
    transform: rotateY(180deg);
}
.button-container.login {
    transform: rotateY(0deg);
}
.front,
.back {
    position: absolute;
  
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

button {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.login-bottom {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    user-select: none;
    cursor: pointer;
}

.login-bottom div {
    background: red;
    width: 150px;
    border-radius: 3px;
  padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.login-bottom div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.loading-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 80px;
}

.loading-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    margin: 8px;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 50%;
    animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(5, 5, 5) transparent transparent transparent;
}

.loading-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}