.change-picture-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background-color: #202c59;

  border: 5px solid #bc732d;
  padding: 30px;
  border-radius: 10px;
}
.change-picture-modal .fa-x {
  position: absolute;
  height: 15px;
  width: 15px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 3px;
  background-color: #882121;
  right: 0;
  top: 0;
  cursor: pointer;
}
.change-picture-modal .fa-user,
.change-picture-modal img {
  height: 50px;
  width: 50px;
}
.overlay {
  position: fixed;

  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.change-picture-container {
  z-index: 10000;
  display: none;
}

.change-picture-container.active {
  display: block;
}

.upload-avatar {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.avatar {
  border: 2px solid #bc732d;
  border-radius: 10px;
  padding: 10px;
}
.upload-avatar input {
  display: none;
}
.change-avatar-btn,
.upload-avatar label {
  margin: 0;
  font-size: 1rem;

  cursor: pointer;
  color: #fff;
  background: #bc732d;
  border: none;
  padding: 5px;
  border-radius: 4px;
  border-bottom: 4px solid #a25106;
  transition: all 0.2s ease;
  outline: none;
}
.selected-file {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.change-avatar:hover {
  color: black;
}
.change-avatar-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
